In [1]:
import pandas as pd
import numpy as np

from openpyxl import Workbook, load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [2]:
#read in colored files
orange = pd.read_excel('orangeallyears.xlsx', sheet_name='all')
blue = pd.read_excel('blueallyears.xlsx', sheet_name='all')
yellow = pd.read_excel('yellowallyears.xlsx', sheet_name='all')

In [3]:
#read in file with question types
negtype = pd.read_excel('negtype.xlsx')

In [4]:
#read in survey data 2012-18
ogdata2012 = pd.read_excel('data2012.xlsx', sheet_name='Student %')
ogdata2013 = pd.read_excel('data2013.xlsx', sheet_name = 'Student %')
ogdata2014 = pd.read_excel('data2014.xlsx', sheet_name='GenEd - Student %')
ogdata2015 = pd.read_excel('data2015.xlsx', sheet_name='GenEd- Student % (DBN)')
ogdata2016 = pd.read_excel('data2016.xlsx', sheet_name='Student %')
ogdata2017 = pd.read_excel('data2017.xlsx', sheet_name='Student % (DBN)')
ogdata2018 = pd.read_excel('data2018.xlsx', sheet_name='Student %')

In [5]:
files = [ogdata2012,ogdata2013,ogdata2014,ogdata2015,ogdata2016,ogdata2017,ogdata2018]

#rename columns to X1, X2, etc.
for i, df in enumerate(files):
    files[i].columns = np.arange(start = 1, stop = len(df.columns)+1)
    
#data2012 = data2012.rename(columns=lambda x: 'X' + str(x))    
data2012 = ogdata2012.rename(columns=lambda x: 'X' + str(x))
data2013 = ogdata2013.rename(columns=lambda x: 'X' + str(x))
data2014 = ogdata2014.rename(columns=lambda x: 'X' + str(x))
data2015 = ogdata2015.rename(columns=lambda x: 'X' + str(x))
data2016 = ogdata2016.rename(columns=lambda x: 'X' + str(x))
data2017 = ogdata2017.rename(columns=lambda x: 'X' + str(x))
data2018 = ogdata2018.rename(columns=lambda x: 'X' + str(x))

In [6]:
blue.head()

,Unnamed: 0,item,skip_pattern,y2008,y2009,y2010,y2011,y2012,y2013,y2014,...,q2015,x2016,score2016,q2016,x2017,score2017,q2017,x2018,score2018,q2018
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,My school helps me to develop challenging acad...,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,Someone at my school helps me understand what ...,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,My teachers expect me to continue my education...,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,"Approximately how often, during this school ye...",NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
blue['question'] = blue['item']
orange['question'] = orange['item']
yellow['question'] = yellow['item']

for i in range(0,len(blue)):
    if pd.isnull(blue['Unnamed: 0'][i]):
        blue['item'][i] = 'NaN'
    else:
        blue['item'][i]= 'blue' + str(int(blue['Unnamed: 0'][i]))
    
for i in range(0,len(orange)):
    if pd.isnull(orange['Unnamed: 0'][i]):
        orange['item'][i] = 'NaN'
    else:
        orange['item'][i]= 'orange' + str(int(orange['Unnamed: 0'][i]))
    
for i in range(0,len(yellow)):
    if pd.isnull(yellow['Unnamed: 0'][i]):
        yellow['item'][i] = 'NaN'
    else:
        yellow['item'][i] = 'yellow' + str(int(yellow['Unnamed: 0'][i]))

<ipython-input-7-583304f4a51c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blue['item'][i] = 'NaN'
<ipython-input-7-583304f4a51c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blue['item'][i]= 'blue' + str(int(blue['Unnamed: 0'][i]))
<ipython-input-7-583304f4a51c>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orange['item'][i] = 'NaN'
<ipython-input-7-583304f4a51c>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orange['item'][i]= 'orange' + str(int(orange['Unnamed: 0'][i]))
<ipython-input-7-583304f4a51c>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yellow['item'][i] = 'NaN'
<ipython-input-7-583304f4a51c>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yellow['item'][i] = 'yellow' + str(int(yellow['Unnamed: 0'][i]))

In [8]:
blue.head()

,Unnamed: 0,item,skip_pattern,y2008,y2009,y2010,y2011,y2012,y2013,y2014,...,x2016,score2016,q2016,x2017,score2017,q2017,x2018,score2018,q2018,question
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,blue0,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,My school helps me to develop challenging acad...
2,1.0,blue1,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Someone at my school helps me understand what ...
3,2.0,blue2,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,My teachers expect me to continue my education...
4,3.0,blue3,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Approximately how often, during this school ye..."

In [9]:
#lists of variables for looping
files_q = ['q2012.csv','q2013.csv','q2014.csv','q2015.csv','q2016.csv','q2017.csv','q2018.csv']
yr = ['2012','2013','2014','2015','2016','2017','2018']
yryr = ['yr2012','yr2013','yr2014','yr2015','yr2016','yr2017','yr2018']
queyr = ['que2012','que2013','que2014','que2015','que2016','que2017','que2018']
qtypeyr = ['qtype2012','qtype2013','qtype2014','qtype2015','qtype2016','qtype2017','qtype2018']
xyr = ['x2012','x2013','x2014','x2015','x2016','x2017','x2018']

In [10]:
qtype = pd.DataFrame()

#create file qtype containing questions and variables for all years
for idx, fil in enumerate(files_q):
    data = pd.read_csv(files_q[idx], engine='python')
    data.columns = ['ind','que','x']
    if fil =='q2012.csv':
        data = data.iloc[4:]
    if fil =='q2013.csv':
        data = data.iloc[4:]
    else:
        data = data.iloc[3:]
    #n = names[idx]
    data = data.reset_index(drop=True)
    data = data.rename(columns=lambda x : x + yr[idx])
    data.insert(3, "qtype" + yr[idx], 0, True)
    #qtype = qtype.append(data)
    qtype = pd.concat([qtype, data], axis=1, sort=False)

In [13]:
qtype.head()

,ind2012,que2012,x2012,qtype2012,ind2013,que2013,x2013,qtype2013,ind2014,que2014,...,x2016,qtype2016,ind2017,que2017,x2017,qtype2017,ind2018,que2018,x2018,qtype2018
0,8.0,NaN,X8,0.0,5.0,1a. Most of the teaching staff at my school ex...,X5,4.0,4.0,1a. Most of the teaching staff at my school be...,...,X4,5.0,4.0,1a. This school offers a wide enough variety o...,X4,5.0,4.0,1a. This school offers a wide enough variety o...,X4,5.0
1,9.0,NaN,X9,0.0,6.0,NaN,X6,0.0,5.0,NaN,...,X5,0.0,5.0,NaN,X5,0.0,5.0,NaN,X5,0.0
2,10.0,NaN,X10,0.0,7.0,NaN,X7,0.0,6.0,NaN,...,X6,0.0,6.0,NaN,X6,0.0,6.0,NaN,X6,0.0
3,11.0,NaN,X11,0.0,8.0,NaN,X8,0.0,7.0,NaN,...,X7,0.0,7.0,NaN,X7,0.0,7.0,NaN,X7,0.0
4,12.0,2a. I feel welcome in my school.,X12,4.0,9.0,1b. Most of the teaching staff at my school en...,X9,4.0,8.0,1b. Most of the teaching staff at my school he...,...,X8,0.0,8.0,NaN,X8,0.0,8.0,NaN,X8,0.0

In [12]:
#qtype['que2013'][qtype['que2013'] == 187].index.tolist()[0]
#max(qtype['ind2013'])

In [13]:
#qtype

In [12]:
#get the # of response options for each question (4, 5, ..)

#updates qtype dataframe with type of question (4 or 5 response question)
for idx,col in enumerate(queyr):
    t = 'qtype' + yr[idx]
    for i in range(0,len(qtype)):
        if pd.isnull(qtype[xyr[idx]][i]):
            qtype[t][i-last]=last
            break
        if not pd.isnull(qtype[col][i]):
            try:
                if not pd.isnull(qtype[col][i+1]):
                    qtype[t][i] = 1
                    last = 1
                elif not pd.isnull(qtype[col][i+2]):
                    qtype[t][i] = 2
                    last = 2
                elif not pd.isnull(qtype[col][i+3]):
                    qtype[t][i] = 3
                    last = 3
                elif not pd.isnull(qtype[col][i+4]):
                    qtype[t][i] = 4
                    last = 4
                elif not pd.isnull(qtype[col][i+5]):
                    qtype[t][i] = 5
                    last = 5
                elif not pd.isnull(qtype[col][i+6]):
                    qtype[t][i] = 6
                    last = 6
            except(KeyError): continue
        else:continue

<ipython-input-12-0a1dc1e8cf9d>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qtype[t][i] = 4
<ipython-input-12-0a1dc1e8cf9d>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qtype[t][i] = 5
<ipython-input-12-0a1dc1e8cf9d>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qtype[t][i] = 3
<ipython-input-12-0a1dc1e8cf9d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qtype[t][i-last]=last
<ipython-input-12-0a1dc1e8cf9d>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qtype[t][i] = 6
<ipython-input-12-0a1dc1e8cf9d>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qtype[t][i] = 1

#merge colors with qtype
type2013 = qtype[['x2013','qtype2013']]
orange['x2013']= orange['x2013'].fillna(0)
type2013['x2013']=type2013['x2013'].fillna(1)
result = pd.merge(orange, type2013, how = 'left', on='x2013')

In [15]:
#result.qtype2013.iloc[0:50]

In [14]:
#merge colored files with qtype on relevant questions
def mergeqt(color):
    result=color
    for i in range(0,len(qtypeyr)):
        typeyr = qtype[[xyr[i],qtypeyr[i],queyr[i]]]
        result[xyr[i]] = result[xyr[i]].fillna(0)
        typeyr[xyr[i]]=typeyr[xyr[i]].fillna(1)
        result = pd.merge(result, typeyr, how='left',on=xyr[i])
    return result

In [15]:
orangewtype = mergeqt(orange)
bluewtype = mergeqt(blue)
yellowwtype = mergeqt(yellow)

<ipython-input-14-a5776f691d34>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  typeyr[xyr[i]]=typeyr[xyr[i]].fillna(1)

In [16]:
bluewtype.head()

,Unnamed: 0,item,skip_pattern,y2008,y2009,y2010,y2011,y2012,y2013,y2014,...,qtype2014,que2014,qtype2015,que2015,qtype2016,que2016,qtype2017,que2017,qtype2018,que2018
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,blue0,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,blue1,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,blue2,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,blue3,NaN,X,X,X,X,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
bluewtype.question.iloc[0:50]

0                                                   NaN
1     My school helps me to develop challenging acad...
2     Someone at my school helps me understand what ...
3     My teachers expect me to continue my education...
4     Approximately how often, during this school ye...
5     Approximately how often, during this school ye...
6     Most of the teaching staff at my school make m...
7     Most of the teaching staff at my school expect...
8     At my school I keep trying when school work is...
9     At my school I can do well if I put my mind to...
10      My classes at this school really make me think.
11    It's clear what I need to do to get a good grade.
12    The work we do in class is good preparation fo...
13    The homework assignments help me learn the cou...
14      In how many of your classes are you challenged?
15    My classes at this school really make me think...
Name: question, dtype: object

In [19]:
#orangewtype['question'] = orangewtype['question'].str.replace(' ','').str.extract(r"(\S{12})")
#bluewtype['question'] = bluewtype['question'].str.replace(' ','').str.extract(r"(\S{12})")
#yellowwtype['question'] = yellowwtype['question'].str.replace(' ','').str.extract(r"(\S{12})")

In [18]:
#transpose survey data, columns will be schools, rows questions
def transp(datayr):
    datayr_t = datayr.T
    #data2013_t.iloc[0:50]
    datayr_t = datayr_t.reset_index()
    datayr_t.index.name = 'ind'
    #datayr_t=datayr_t.rename(columns = {'ind':'x2013'})
    datayr_t
    return datayr_t

In [19]:
frames = [data2012,data2013,data2014,data2015,data2016,data2017,data2018]
frames_t = map(transp,frames)
frames_t = list(frames_t)

In [20]:
orangewtype['question'][0:50]

0                                                   NaN
1     Students who get good grades in my school are ...
2     My high school provides helpful counseling on ...
3     On a scale of 1 to 4, how AVAILABLE are teache...
4     On a scale of 1 to 4, how AVAILABLE are teache...
5     Teachers in my school treat students with resp...
6     Most students in my school treat teachers with...
7     Adults in my school treat each other with resp...
8            My teachers enjoy the subjects they teach.
9     Most students in my school help and care about...
10    Most students in my school just look out for t...
11    Most students in my school treat each other wi...
12                             My school is kept clean.
13    Someone at my high school can talk with me abo...
14    Students in my school are harassed or threaten...
15    Most of the teaching staff at my school expect...
16    Most adults at my school that I see every day ...
17    There is an adult who is helping me plan for m...
18    At my school I need to work hard to get good g...
19                At my school I am safe in my classes.
20    At my school I am safe in the hallways, bathro...
21    At my school I am safe on school property outs...
22    At my school there are clear consequences for ...
23    At my school there is a person or program that...
24    At my school most adults treat all students wi...
25    Most students at my school treat each other wi...
26    Most students at my school treat adults with r...
27    Most students at my school respect students wh...
28    My school offers a wide enough variety of prog...
29    My school offers opportunities for me to be ph...
30    How often is the following true?\r\r\nAt my sc...
31    How often is the following true?\r\r\nAt my sc...
32    How often is the following true?\r\r\nAt my sc...
33    How often is the following true?\r\r\nAt my sc...
34    How often is the following true?\r\r\nAt my sc...
35    During this school year, how often have your t...
36                                                    *
37    During this school year, how often have your t...
38      At my school students get into physical fights.
39    At my school students harass or bully other st...
40    At my school student harass or bully each othe...
41                 At my school there is gang activity.
42    Most of the teaching staff at my school believ...
43    At my school I am able to identify resources n...
44    At my school I take complete, organized, and a...
45    At my school I have opportunities to work toge...
46    At my school  most adults treat all students w...
47    During this school year, how often have your t...
48    At my school students harass or bully each oth...
49    How many of the students in your class(es) fee...
Name: question, dtype: object

In [21]:
head = {}
for name in yryr:
    head[name] = pd.DataFrame()

In [22]:
#split headers
head[yryr[0]] = frames_t[0].iloc[:3]
for i in range(1,len(head)):
    head[yryr[i]] = frames_t[i].iloc[:2]

In [23]:
#for j in range(0,len(color)):
#    for i in range(0, len(color[j])):
#        if pd.isnull(color[j]['var2012'][i]):
#            pass
#        elif color[j]['var2012'][i] in list(negtype['neg2012']):
#            print(color[j]['var2012'][i])

In [24]:
#create empty dataframes
omerge = {}
ymerge = {}
bmerge = {}
for name in yryr:
    omerge[name] = pd.DataFrame()
for name in yryr:
    ymerge[name] = pd.DataFrame()
for name in yryr:
    bmerge[name] = pd.DataFrame()

In [25]:
#add xyr and qtypeyr columns to data for relevant questions only 
for i in range(0,len(xyr)):
    omerge[yryr[i]]= pd.merge(frames_t[i],orangewtype[[xyr[i],qtypeyr[i],'item','question',queyr[i]]],left_on='index',right_on=xyr[i])
for i in range(0,len(xyr)):
    bmerge[yryr[i]]= pd.merge(frames_t[i],bluewtype[[xyr[i],qtypeyr[i],'item','question',queyr[i]]],left_on='index',right_on=xyr[i])
for i in range(0,len(xyr)):
    ymerge[yryr[i]]= pd.merge(frames_t[i],yellowwtype[[xyr[i],qtypeyr[i],'item','question',queyr[i]]],left_on='index',right_on=xyr[i])

In [26]:
omerge[yryr[0]]

,index,0,1,2,3,4,5,6,7,8,...,1665,1666,1667,1668,1669,x2012,qtype2012,item,question,que2012
0,X16,Strongly agree,s_q2b_1,NaN,NaN,NaN,NaN,0.42,NaN,NaN,...,0.45,0.53,0.69,NaN,NaN,X16,4.0,orange15,Most adults at my school that I see every day ...,"2b. Most of the teachers, counselors, school l..."
1,X32,Strongly agree,s_q3c_1,NaN,NaN,NaN,NaN,0.75,NaN,NaN,...,0.79,0.69,0.85,NaN,NaN,X32,4.0,orange17,At my school I need to work hard to get good g...,3c. I need to work hard to get good grades at ...
2,X36,Strongly agree,s_q3d_1,NaN,NaN,NaN,NaN,0.17,NaN,NaN,...,0.17,0.15,0.18,NaN,NaN,X36,4.0,orange26,Most students at my school respect students wh...,3d. Students who get good grades in my school ...
3,X56,Strongly agree,s_q3i_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,X56,4.0,orange16,There is an adult who is helping me plan for m...,3i. These questions are for high school studen...
4,X76,Strongly agree,s_q6a_1,NaN,NaN,NaN,NaN,0.25,NaN,NaN,...,0.37,0.17,0.33,NaN,NaN,X76,5.0,orange14,Most of the teaching staff at my school expect...,6a. Teachers in my school treat students with ...
5,X76,Strongly agree,s_q6a_1,NaN,NaN,NaN,NaN,0.25,NaN,NaN,...,0.37,0.17,0.33,NaN,NaN,X76,5.0,orange23,At my school most adults treat all students wi...,6a. Teachers in my school treat students with ...
6,X81,Strongly agree,s_q6b_1,NaN,NaN,NaN,NaN,0.06,NaN,NaN,...,0.12,0.12,0.08,NaN,NaN,X81,5.0,orange25,Most students at my school treat adults with r...,6b. Most students in my school treat teachers ...
7,X192,Strongly agree,s_q11_1,NaN,NaN,NaN,NaN,0.23,NaN,NaN,...,0.25,0.19,0.27,NaN,NaN,X192,4.0,orange27,My school offers a wide enough variety of prog...,11. My school offers a wide enough variety of ...
8,X204,Strongly agree,s_q12c_1,NaN,NaN,NaN,NaN,0.08,NaN,NaN,...,0.18,0.07,0.12,NaN,NaN,X204,4.0,orange24,Most students at my school treat each other wi...,12c. Most students in my school treat each oth...
9,X212,Never,s_q13b_1,NaN,NaN,NaN,NaN,0.25,NaN,NaN,...,0.33,0.26,0.35,NaN,NaN,X212,4.0,orange31,How often is the following true?\r\r\nAt my sc...,13b. Students threaten or bully other students...
10,X216,Never,s_q13c_1,NaN,NaN,NaN,NaN,0.09,NaN,NaN,...,0.72,0.12,0.2,NaN,NaN,X216,4.0,orange30,How often is the following true?\r\r\nAt my sc...,13c. Students get into physical fights at my s...
11,X224,Never,s_q13e_1,NaN,NaN,NaN,NaN,0.44,NaN,NaN,...,0.43,0.51,0.59,NaN,NaN,X224,4.0,orange32,How often is the following true?\r\r\nAt my sc...,13e. Students in my school are harassed or thr...
12,X228,Never,s_q13f_1,NaN,NaN,NaN,NaN,0.73,NaN,NaN,...,0.95,0.9,1,NaN,NaN,X228,4.0,orange29,How often is the following true?\r\r\nAt my sc...,13f. Students use alcohol or illegal drugs whi...
13,X232,Never,s_q13g_1,NaN,NaN,NaN,NaN,0.66,NaN,NaN,...,0.93,0.75,0.92,NaN,NaN,X232,4.0,orange33,How often is the following true?\r\r\nAt my sc...,13g. There is gang activity in my school.
14,X236,Strongly agree,s_q14a_1,NaN,NaN,NaN,NaN,0.24,NaN,NaN,...,0.68,0.32,0.58,NaN,NaN,X236,4.0,orange22,At my school there is a person or program that...,14a. There is a person or program in my school...
15,X240,Strongly agree,s_q14b_1,NaN,NaN,NaN,NaN,0.15,NaN,NaN,...,0.23,0.17,0.19,NaN,NaN,X240,4.0,orange21,At my school there are clear consequences for ...,14b. Discipline in my school is fair.
16,X244,Strongly agree,s_q14c_1,NaN,NaN,NaN,NaN,0.39,NaN,NaN,...,0.58,0.37,0.51,NaN,NaN,X244,4.0,orange18,At my school I am safe in my classes.,14c. I am safe in my classes.
17,X248,Strongly agree,s_q14d_1,NaN,NaN,NaN,NaN,0.3,NaN,NaN,...,0.59,0.37,0.47,NaN,NaN,X248,4.0,orange19,"At my school I am safe in the hallways, bathro...","14d. I am safe in the hallways, bathrooms, and..."
18,X252,Strongly agree,s_q14e_1,NaN,NaN,NaN,NaN,0.29,NaN,NaN,...,0.43,0.25,0.26,NaN,NaN,X252,4.0,orange20,At my school I am safe on school property outs...,14e. I am safe on school property outside my s...
19,X256,Strongly agree,s_q14f_1,NaN,NaN,NaN,NaN,0.21,NaN,NaN,...,0.37,0.14,0.4,NaN,NaN,X256,4.0,orange11,My school is kept clean.,14f. My school is kept clean.

In [27]:
#add rows for multiple response questions

def addresp(merge):   
    for k in range(0,len(frames_t)):
        for i in range(0,len(merge[yryr[k]])):
            try:
                idx = frames_t[k].index[frames_t[k]['index']==merge[yryr[k]][xyr[k]][i]][0]
                #append rest of the responses obtained from # in qtype

                for j in range(1,int(merge[yryr[k]][qtypeyr[k]][i])):
                    line = pd.DataFrame(frames_t[k].iloc[int(idx + j)]).T
                    line.index=[i + j / merge[yryr[k]][qtypeyr[k]][i]]
                    merge[yryr[k]] = merge[yryr[k]].append(line, ignore_index=False)
            except(IndexError): continue
    return

In [28]:
addresp(omerge)
addresp(bmerge)
addresp(ymerge)

In [29]:
for i in range(0, len(omerge)):
    omerge[yryr[i]]=omerge[yryr[i]].sort_index().reset_index(drop=True)
for i in range(0, len(bmerge)):
    bmerge[yryr[i]]=bmerge[yryr[i]].sort_index().reset_index(drop=True)
for i in range(0, len(ymerge)):
    ymerge[yryr[i]]=ymerge[yryr[i]].sort_index().reset_index(drop=True)

In [30]:
bmerge[yryr[0]]

,index,0,1,2,3,4,5,6,7,8,...,1665,1666,1667,1668,1669,x2012,qtype2012,item,question,que2012
0,X40,Strongly agree,s_q3e_1,NaN,NaN,NaN,NaN,0.34,NaN,NaN,...,0.48,0.3,0.58,NaN,NaN,X40,4.0,blue7,At my school I keep trying when school work is...,3e. My school helps me to develop challenging ...
1,X41,Agree,s_q3e_2,NaN,NaN,NaN,NaN,0.49,NaN,NaN,...,0.48,0.58,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,X42,Disagree,s_q3e_3,NaN,NaN,NaN,NaN,0.15,NaN,NaN,...,0.04,0.08,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X43,Strongly disagree,s_q3e_4,NaN,NaN,NaN,NaN,0.03,NaN,NaN,...,0,0.04,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,X48,Strongly agree,s_q3g_1,NaN,NaN,NaN,NaN,0.61,NaN,NaN,...,0.62,0.67,0.7,NaN,NaN,X48,4.0,blue6,Most of the teaching staff at my school expect...,3g. My teachers expect me to continue my educa...
5,X49,Agree,s_q3g_2,NaN,NaN,NaN,NaN,0.32,NaN,NaN,...,0.32,0.29,0.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,X50,Disagree,s_q3g_3,NaN,NaN,NaN,NaN,0.04,NaN,NaN,...,0.04,0.01,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,X51,Strongly disagree,s_q3g_4,NaN,NaN,NaN,NaN,0.03,NaN,NaN,...,0.02,0.02,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,X101,Strongly agree,s_q6f_1,NaN,NaN,NaN,NaN,0.42,NaN,NaN,...,0.43,0.38,0.46,NaN,NaN,X101,5.0,blue5,Most of the teaching staff at my school make m...,6f. My teachers inspire me to learn.
9,X102,Agree,s_q6f_2,NaN,NaN,NaN,NaN,0.36,NaN,NaN,...,0.41,0.48,0.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,X103,Disagree,s_q6f_3,NaN,NaN,NaN,NaN,0.11,NaN,NaN,...,0.1,0.09,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,X104,Strongly disagree,s_q6f_4,NaN,NaN,NaN,NaN,0.05,NaN,NaN,...,0.03,0.03,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,X105,Donâ€™t know,s_q6f_5,NaN,NaN,NaN,NaN,0.07,NaN,NaN,...,0.03,0.03,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,X220,Never,s_q13d_1,NaN,NaN,NaN,NaN,0.07,NaN,NaN,...,0.06,0.06,0.18,NaN,NaN,X220,4.0,blue8,At my school I can do well if I put my mind to...,13d. Adults at my school yell at students.
14,X221,Some of the time,s_q13d_2,NaN,NaN,NaN,NaN,0.42,NaN,NaN,...,0.44,0.45,0.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,X222,Most of the time,s_q13d_3,NaN,NaN,NaN,NaN,0.2,NaN,NaN,...,0.15,0.21,0.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,X223,All of the time,s_q13d_4,NaN,NaN,NaN,NaN,0.31,NaN,NaN,...,0.35,0.27,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
omerge[yryr[0]]

,index,0,1,2,3,4,5,6,7,8,...,1665,1666,1667,1668,1669,x2012,qtype2012,item,question,que2012
0,X16,Strongly agree,s_q2b_1,NaN,NaN,NaN,NaN,0.42,NaN,NaN,...,0.45,0.53,0.69,NaN,NaN,X16,4.0,orange15,Most adults at my school that I see every day ...,"2b. Most of the teachers, counselors, school l..."
1,X17,Agree,s_q2b_2,NaN,NaN,NaN,NaN,0.5,NaN,NaN,...,0.47,0.37,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,X18,Disagree,s_q2b_3,NaN,NaN,NaN,NaN,0.07,NaN,NaN,...,0.08,0.1,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X19,Strongly disagree,s_q2b_4,NaN,NaN,NaN,NaN,0,NaN,NaN,...,0.01,0.01,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,X32,Strongly agree,s_q3c_1,NaN,NaN,NaN,NaN,0.75,NaN,NaN,...,0.79,0.69,0.85,NaN,NaN,X32,4.0,orange17,At my school I need to work hard to get good g...,3c. I need to work hard to get good grades at ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,X255,Strongly disagree,s_q14e_4,NaN,NaN,NaN,NaN,0.07,NaN,NaN,...,0.02,0.09,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,X256,Strongly agree,s_q14f_1,NaN,NaN,NaN,NaN,0.21,NaN,NaN,...,0.37,0.14,0.4,NaN,NaN,X256,4.0,orange11,My school is kept clean.,14f. My school is kept clean.
80,X257,Agree,s_q14f_2,NaN,NaN,NaN,NaN,0.46,NaN,NaN,...,0.47,0.49,0.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,X258,Disagree,s_q14f_3,NaN,NaN,NaN,NaN,0.19,NaN,NaN,...,0.11,0.18,0.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,X259,Strongly disagree,s_q14f_4,NaN,NaN,NaN,NaN,0.13,NaN,NaN,...,0.06,0.18,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
for i in range(0,len(omerge)):
    omerge[yryr[i]].loc[:,'year'] = np.arange(2012,2019)[i]
    omerge[yryr[i]].loc[:,'color'] = 'orange'
    bmerge[yryr[i]].loc[:,'year'] = np.arange(2012,2019)[i]
    bmerge[yryr[i]].loc[:,'color'] = 'blue'
    ymerge[yryr[i]].loc[:,'year'] = np.arange(2012,2019)[i]
    ymerge[yryr[i]].loc[:,'color'] = 'yellow'

In [33]:
all = {}
for name in yryr:
    all[name] = pd.DataFrame()


for i in range(0,len(all)):
    all[yryr[i]] = bmerge[yryr[i]].append([omerge[yryr[i]],ymerge[yryr[i]]]).reset_index()
    all[yryr[i]] = all[yryr[i]].rename(columns = {'index':'variable'})

for i in range(0, len(all)):
    all[yryr[i]] = pd.concat([head[yryr[i]], all[yryr[i]]]).reset_index(drop = True)
    
    
for i in range(0, len(all)):
    all[yryr[i]]=all[yryr[i]].drop(columns = ['level_0','variable'])
    if yryr[i] == '2012' or yryr[i] =='2013':
        all[yryr[i]]=all[yryr[i]].drop([0,1],axis=1)
    else:
        all[yryr[i]]=all[yryr[i]].drop([0],axis=1)

all[yryr[0]]=all[yryr[0]].drop([1],axis=1)

colyear = {}
colcolor = {}
colque = {}
colitem = {}
colqueyr = {}
for name in yryr:
    colyear[name] = pd.DataFrame()
    colcolor[name] = pd.DataFrame()
    colque[name] = pd.DataFrame()
    colitem[name] = pd.DataFrame()
    colqueyr[name] = pd.DataFrame()

for i in range(0,len(yryr)):
    colyear[yryr[i]] = all[yryr[i]]['year']
    colcolor[yryr[i]] = all[yryr[i]]['color']
    colque[yryr[i]] = all[yryr[i]]['question']
    colitem[yryr[i]] = all[yryr[i]]['item']
    colqueyr[yryr[i]] = all[yryr[i]][queyr[i]]

    
for i in range(0, len(all)):
    all[yryr[i]] = all[yryr[i]].drop(columns = ['year','color','question','item',queyr[i]])

    
type(all[yryr[6]][2][2])

int

In [34]:
#converts decimals to percentages 2016 data
n = all[yryr[4]].shape[1]
all[yryr[4]].iloc[2:len(all[yryr[4]]),1:n-2] = all[yryr[4]].iloc[2:len(all[yryr[4]]),1:n-2]*100

In [35]:
#replaces empty cells with na for 2014 data
n = all[yryr[2]].shape[1]
all[yryr[2]].iloc[2:len(all[yryr[2]]),1:n-2] = all[yryr[2]].iloc[2:len(all[yryr[2]]),1:n-2].apply(pd. to_numeric, errors='coerce')

In [36]:
#scores the questions

negativeyr = ['neg2012','neg2013','neg2014','neg2015','neg2016','neg2017','neg2018']

for j in range(0,len(all)):
    for i in range(0,len(all[yryr[j]])):
        if not pd.isnull(all[yryr[j]][xyr[j]][i]):
            if all[yryr[j]][xyr[j]][i] in list(negtype[negativeyr[j]]):
                n = all[yryr[j]].shape[1]
                line = -2 * all[yryr[j]].iloc[i,2:n-2] - 1 * all[yryr[j]].iloc[i+1,2:n-2] + all[yryr[j]].iloc[i+2,2:n-2] + 2 * all[yryr[j]].iloc[i+3,2:n-2]                     
            else:
                n = all[yryr[j]].shape[1]
                line = 2 * all[yryr[j]].iloc[i,2:n-2] + all[yryr[j]].iloc[i+1,2:n-2] - 1 *all[yryr[j]].iloc[i+2,2:n-2] - 2 * all[yryr[j]].iloc[i+3,2:n-2]
            
            sum = all[yryr[j]].iloc[i,2:n-2] + all[yryr[j]].iloc[i+1,2:n-2] + all[yryr[j]].iloc[i+2,2:n-2] + all[yryr[j]].iloc[i+3,2:n-2]
            sum.replace(0, np.nan, inplace=True)
            line = line / sum
            all[yryr[j]].iloc[i,2:n-2] = line

In [38]:
for i in range(0,len(yryr)):
    all[yryr[i]]['year'] = colyear[yryr[i]]
    all[yryr[i]]['color'] = colcolor[yryr[i]]
    all[yryr[i]]['match_question'] = colque[yryr[i]]
    all[yryr[i]]['item'] = colitem[yryr[i]]
    all[yryr[i]]['survey_question'] = colqueyr[yryr[i]]

In [39]:
all[yryr[6]]

,index,1,2,3,4,5,6,7,8,9,...,1122,x2018,qtype2018,year,color,question,item,que2018,match_question,survey_question
0,X1,NaN,01M034,01M140,01M184,01M188,01M292,01M301,01M332,01M378,...,84X717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,X2,NaN,P.S. 034 FRANKLIN D. ROOSEVELT,P.S. 140 NATHAN STRAUS,P.S. 184M SHUANG WEN,P.S. 188 THE ISLAND SCHOOL,ORCHARD COLLEGIATE ACADEMY,"TECHNOLOGY, ARTS, AND SCIENCES STUDIO",UNIVERSITY NEIGHBORHOOD MIDDLE SCHOOL,SCHOOL FOR GLOBAL LEADERS,...,ICAHN CHARTER SCHOOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1.02,1.05,1,1.66,1.28283,0.841584,1.24752,1.41,...,NaN,X63,4.0,2018.0,blue,It's clear what I need to do to get a good grade.,blue10,2b. It's clear what I need to do to get a good...,It's clear what I need to do to get a good grade.,2b. It's clear what I need to do to get a good...
3,NaN,NaN,16,18,12,1,6,18,10,7,...,NaN,NaN,NaN,2018.0,blue,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,38,37,48,31,45,39,42,30,...,NaN,NaN,NaN,2018.0,blue,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,NaN,NaN,11,20,22,73,22,8,25,39,...,NaN,NaN,NaN,2018.0,yellow,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN,1.35,NaN,NaN,NaN,...,NaN,X255,4.0,2018.0,yellow,"Adults at this school (including teachers, adm...",yellow53,10d. For High School: Adults at this school (i...,"Adults at this school (including teachers, adm...",10d. For High School: Adults at this school (i...
243,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,...,NaN,NaN,NaN,2018.0,yellow,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN,53,NaN,NaN,NaN,...,NaN,NaN,NaN,2018.0,yellow,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN,43,NaN,NaN,NaN,...,NaN,NaN,NaN,2018.0,yellow,NaN,NaN,NaN,NaN,NaN

In [44]:
temp = {}
for n in yryr:
    temp[n] = pd.DataFrame()
for i in range(0,len(head)):
    head[yryr[i]] = all[yryr[i]].iloc[:2]

for i in range(0,len(yryr)):
    temp[yryr[i]] = all[yryr[i]][all[yryr[i]][qtypeyr[i]].notna()]
       

for i in range(0,len(head)):
    temp[yryr[i]] = pd.concat([head[yryr[i]], temp[yryr[i]]]).reset_index(drop = True)
    
for i in range(0,len(yryr)):
    temp[yryr[i]]=temp[yryr[i]].drop(columns = [xyr[i],queyr[i],'question'])

In [45]:
temp[yryr[1]]

,index,1,2,3,4,5,6,7,8,9,...,1773,1774,1775,1776,qtype2013,year,color,item,match_question,survey_question
0,X1,dbn,NaN,01M015,01M019,01M020,01M034,01M063,01M064,01M110,...,84X706,84X717,84X718,84X730,NaN,NaN,NaN,NaN,NaN,NaN
1,X2,locationname,NaN,P.S. 015 Roberto Clemente,P.S. 019 Asher Levy,P.S. 020 Anna Silver,P.S. 034 Franklin D. Roosevelt,The STAR Academy â€“ P.S.63,P.S. 064 Robert Simon,P.S. 110 Florence Nightingale,...,Harriet Tubman Charter School,Icahn Charter School,Bronx Charter School for Better Learning,Bronx Charter School for the Arts,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,s_q1f_1,NaN,NaN,NaN,NaN,0.39,NaN,NaN,NaN,...,1.3,0.77,NaN,NaN,4.0,2013.0,blue,blue5,Most of the teaching staff at my school make m...,1f. Most of the teaching staff at my school ma...
3,NaN,s_q1g_1,NaN,NaN,NaN,NaN,1.39394,NaN,NaN,NaN,...,1.82,1.68,NaN,NaN,4.0,2013.0,blue,blue6,Most of the teaching staff at my school expect...,1g. Most of the teaching staff at my school ex...
4,NaN,s_q4b_1,NaN,NaN,NaN,NaN,1.32,NaN,NaN,NaN,...,1.67,1.56,NaN,NaN,4.0,2013.0,blue,blue7,At my school I keep trying when school work is...,4b. At my schoolâ€¦\r\nI keep trying when school...
5,NaN,s_q4c_1,NaN,NaN,NaN,NaN,1.6,NaN,NaN,NaN,...,1.81188,1.78,NaN,NaN,4.0,2013.0,blue,blue8,At my school I can do well if I put my mind to...,4c. At my schoolâ€¦\r\nI can do well if I put my...
6,NaN,s_q1a_1,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,...,1.77228,1.74,NaN,NaN,4.0,2013.0,orange,orange14,Most of the teaching staff at my school expect...,1a. Most of the teaching staff at my school ex...
7,NaN,s_q2a_1,NaN,NaN,NaN,NaN,1.07921,NaN,NaN,NaN,...,1.58,1.69,NaN,NaN,4.0,2013.0,orange,orange15,Most adults at my school that I see every day ...,2a. Most adults at my school that I see every...
8,NaN,s_q3_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,2013.0,orange,orange16,There is an adult who is helping me plan for m...,"3. If you are a student in grades 9-12, ANSWER..."
9,NaN,s_q4a_1,NaN,NaN,NaN,NaN,1.70297,NaN,NaN,NaN,...,1.83,1.79,NaN,NaN,4.0,2013.0,orange,orange17,At my school I need to work hard to get good g...,4a. At my schoolâ€¦\r\n I need to work hard to g...
10,NaN,s_q4f_1,NaN,NaN,NaN,NaN,1.01,NaN,NaN,NaN,...,1.51,1.32,NaN,NaN,4.0,2013.0,orange,orange18,At my school I am safe in my classes.,4f. At my schoolâ€¦\r\nI am safe in my classes.
11,NaN,s_q4g_1,NaN,NaN,NaN,NaN,0.762376,NaN,NaN,NaN,...,1.38,1.10101,NaN,NaN,4.0,2013.0,orange,orange19,"At my school I am safe in the hallways, bathro...",4g. At my schoolâ€¦\r\nI am safe in the hallways...
12,NaN,s_q4h_1,NaN,NaN,NaN,NaN,0.7,NaN,NaN,NaN,...,1.31,0.87,NaN,NaN,4.0,2013.0,orange,orange20,At my school I am safe on school property outs...,4h. At my schoolâ€¦\r\nI am safe on school prope...
13,NaN,s_q4i_1,NaN,NaN,NaN,NaN,1.12,NaN,NaN,NaN,...,1.65,1.4,NaN,NaN,4.0,2013.0,orange,orange21,At my school there are clear consequences for ...,4i. At my schoolâ€¦\r\nthere are clear consequen...
14,NaN,s_q4k_1,NaN,NaN,NaN,NaN,0.959596,NaN,NaN,NaN,...,1.56566,1.23,NaN,NaN,4.0,2013.0,orange,orange22,At my school there is a person or program that...,4k. At my schoolâ€¦\r\nthere is a person or prog...
15,NaN,s_q5b_1,NaN,NaN,NaN,NaN,0.626506,NaN,NaN,NaN,...,1.18947,0.901099,NaN,NaN,5.0,2013.0,orange,orange23,At my school most adults treat all students wi...,5b. At my schoolâ€¦\r\nmost adults treat all st...
16,NaN,s_q6a_1,NaN,NaN,NaN,NaN,0.07,NaN,NaN,NaN,...,0.94,0.24,NaN,NaN,4.0,2013.0,orange,orange24,Most students at my school treat each other wi...,6a. Most students at my schoolâ€¦\r\ntreat each ...
17,NaN,s_q6b_1,NaN,NaN,NaN,NaN,0.15,NaN,NaN,NaN,...,1,0.454545,NaN,NaN,4.0,2013.0,orange,orange25,Most students at my school treat adults with r...,6b. Most students at my schoolâ€¦\r\ntreat adult...
18,NaN,s_q6c_1,NaN,NaN,NaN,NaN,0.613861,NaN,NaN,NaN,...,1.23762,0.65,NaN,NaN,4.0,2013.0,orange,orange26,Most students at my school respect students wh...,6c. Most students at my schoolâ€¦\r\nrespect stu...
19,NaN,s_q7a_1,NaN,NaN,NaN,NaN,0.53,NaN,NaN,NaN,...,1.23232,1.01,NaN,NaN,4.0,2013.0,orange,orange11,My school is kept clean.,7a. My schoolâ€¦\r\nis kept clean.
20,NaN,s_q7b_1,NaN,NaN,NaN,NaN,0.53,NaN,NaN,NaN,...,1.35,0.98,NaN,NaN,4.0,2013.0,orange,orange27,My school offers a wide enough variety of prog...,7b. My schoolâ€¦\r\noffers a wide enough variet...
21,NaN,s_q7c_1,NaN,NaN,NaN,NaN,0.56,NaN,NaN,NaN,...,1.46,1.13,NaN,NaN,4.0,2013.0,orange,orange28,My school offers opportunities for me to be ph...,7c. My schoolâ€¦\r\noffers opportunities for me...
22,NaN,s_q11b_1,NaN,NaN,NaN,NaN,0.33,NaN,NaN,NaN,...,1.12,0.69,NaN,NaN,4.0,2013.0,orange,orange37,At my school students get into physical fights.,11b. How often is the following true?\r\nAt my...
23,NaN,s_q11c_1,NaN,NaN,NaN,NaN,0.35,NaN,NaN,NaN,...,1.1,0.60396,NaN,NaN,4.0,2013.0,orange,orange38,At my school students harass or bully other st...,11c. How often is the following true?\r\nAt my...
24,NaN,s_q11d_1,NaN,NaN,NaN,NaN,0.920792,NaN,NaN,NaN,...,1.33,0.871287,NaN,NaN,4.0,2013.0,orange,orange39,At my school student harass or bully each othe...,11d. How often is the following true?\r\nAt my...
25,NaN,s_q11e_1,NaN,NaN,NaN,NaN,1.4,NaN,NaN,NaN,...,1.78218,1.78,NaN,NaN,4.0,2013.0,orange,orange40,At my school there is gang activity.,11e. How often is the following true?\r\nAt my...
26,NaN,s_q1b_1,NaN,NaN,NaN,NaN,1.45455,NaN,NaN,NaN,...,1.74,1.62,NaN,NaN,4.0,2013.0,yellow,yellow22,Most of the teaching staff at my school encour...,1b. Most of the teaching staff at my school en...
27,NaN,s_q1c_1,NaN,NaN,NaN,NaN,1.16,NaN,NaN,NaN,...,1.57,1.33,NaN,NaN,4.0,2013.0,yellow,yellow23,Most of the teaching staff at my school give m...,1c. Most of the teaching staff at my school gi...
28,NaN,s_q1d_1,NaN,NaN,NaN,NaN,1.16832,NaN,NaN,NaN,...,1.72,1.47,NaN,NaN,4.0,2013.0,yellow,yellow24,Most of the teaching staff at my school give m...,1d. Most of the teaching staff at my school gi...
29,NaN,s_q2b_1,NaN,NaN,NaN,NaN,1.0404,NaN,NaN,NaN,...,1.48,1.21,NaN,NaN,4.0,2013.0,yellow,yellow25,Most adults at my school care about me.,2b. Most adults at my school care about me.
30,NaN,s_q2d_1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,...,1.43434,1.36,NaN,NaN,4.0,2013.0,yellow,yellow29,Most adults at my school help keep me on track...,2d. Most adults at my school help keep me on ...
31,NaN,s_q4d_1,NaN,NaN,NaN,NaN,1.75,NaN,NaN,NaN,...,1.86,1.87,NaN,NaN,4.0,2013.0,yellow,yellow26,At my school I can become a better student if ...,4d. At my schoolâ€¦\r\nI can become a better stu...
32,NaN,s_q4e_1,NaN,NaN,NaN,NaN,0.85,NaN,NaN,NaN,...,1.4,1.23762,NaN,NaN,4.0,2013.0,yellow,yellow27,At my school I feel welcome.,4e. At my schoolâ€¦\r\nI feel welcome.
33,NaN,s_q4j_1,NaN,NaN,NaN,NaN,1.04,NaN,NaN,NaN,...,1.55,1.26,NaN,NaN,4.0,2013.0,yellow,yellow28,At my school there is an adult whom I trust an...,4j. At my schoolâ€¦\r\nthere is an adult whom I ...

In [49]:
temp_t = {}
for n in yryr:
    temp_t[n]=pd.DataFrame()
for i in range(0,len(temp)):
    temp_t[yryr[i]] = temp[yryr[i]].T
    temp_t[yryr[i]] = temp_t[yryr[i]].reset_index()
    
for i in range(0, len(temp)):
    temp_t[yryr[i]] = temp_t[yryr[i]].drop([0,1])
    
temp_t[yryr[1]] = temp_t[yryr[1]].drop([2])   

new_columns = pd.DataFrame()
for i in range(0,len(temp_t)):
    temp_t[yryr[i]] = temp_t[yryr[i]].set_index(temp_t[yryr[i]]['index'])
    temp_t[yryr[i]].columns = temp_t[yryr[i]].loc['item']
    new_columns = temp_t[yryr[i]].columns.values
    new_columns[1] = 'dbn'
    new_columns[2] = 'school_name'
    temp_t[yryr[i]].columns = new_columns
    temp_t[yryr[i]].rename(columns = {'item':'DBN'}, inplace = True)
    #temp_t[yryr[i]].columns = temp_t[yryr[i]].loc[xyr[i]]
    
for i in range(0,len(temp_t)):
    temp_t[yryr[i]].dbn.iloc[-6:] = ['qtype','year','color','item','match_question','survey_question']
    
for i in range(0, len(temp)):
    temp_t[yryr[i]] = temp_t[yryr[i]].drop(['DBN'],axis=1)

for i in range(0,len(temp_t)):   
    temp_t[yryr[i]] = pd.concat([temp_t[yryr[i]].loc[['color'],:], temp_t[yryr[i]].drop('color', axis=0)], axis=0)
    temp_t[yryr[i]] = pd.concat([temp_t[yryr[i]].loc[['year'],:], temp_t[yryr[i]].drop('year', axis=0)], axis=0)
    temp_t[yryr[i]] = pd.concat([temp_t[yryr[i]].loc[['match_question'],:], temp_t[yryr[i]].drop('match_question', axis=0)], axis=0)
    temp_t[yryr[i]] = pd.concat([temp_t[yryr[i]].loc[['survey_question'],:], temp_t[yryr[i]].drop('survey_question', axis=0)], axis=0)
    temp_t[yryr[i]] = pd.concat([temp_t[yryr[i]].loc[['item'],:], temp_t[yryr[i]].drop('item', axis=0)], axis=0)
    temp_t[yryr[i]].drop(temp_t[yryr[i]].tail(1).index,inplace=True)
    #temp_t[yryr[i]].iloc[0, temp_t[yryr[i]].columns.get_loc('dbn')] = 'item'
    #temp_t[yryr[i]].iloc[1, temp_t[yryr[i]].columns.get_loc('dbn')] = 'question'

    temp_t[yryr[i]] = temp_t[yryr[i]].set_index('dbn')


temp_t[yryr[5]]

,school_name,blue10,blue11,blue12,blue14,blue13,orange27,orange77,orange11,orange24,...,yellow42,yellow43,yellow44,yellow54,yellow46,yellow34,yellow35,yellow36,yellow47,yellow53
dbn,,,,,,,,,,,,,,,,,,,,,
item,school_name,blue10,blue11,blue12,blue14,blue13,orange27,orange77,orange11,orange24,...,yellow42,yellow43,yellow44,yellow54,yellow46,yellow34,yellow35,yellow36,yellow47,yellow53
survey_question,NaN,2b. It's clear what I need to do to get a good...,2c. The work we do in class is good preparatio...,2d. The homework assignments help me learn the...,4g. My classes at this school really make me t...,5a. In how many of your classes are you challe...,1a. This school offers a wide enough variety o...,"1b. The programs, classes, and activities at t...",1c. This school is kept clean.,1d. Most students at this school treat each ot...,...,3b. My teachers notice if I have trouble learn...,3c. My teachers give me specific suggestions a...,3d. My teachers explain things a different way...,3e. My teachers support me when I am upset.,4a. Iâ€™m learning a lot in my classes at this s...,4b. There is at least one adult in the school ...,4e. My teachers treat me with respect.,4f. When my teachers tell me not to do somethi...,4h. Discipline is applied fairly in my school.,10d. For High School: Adults at this school (i...
match_question,NaN,It's clear what I need to do to get a good grade.,The work we do in class is good preparation fo...,The homework assignments help me learn the cou...,My classes at this school really make me think...,In how many of your classes are you challenged?,My school offers a wide enough variety of prog...,"The programs, classes, and activities at this ...",My school is kept clean.,Most students at my school treat each other wi...,...,My teachers notice if I have trouble learning ...,My teachers give me specific suggestions about...,My teachers explain things a different way if ...,My teachers support me when I am upset.,Iâ€™m learning a lot in my classes at this schoo...,There is at least one adult in the school that...,My teachers treat me with respect.,"When my teachers tell me not to do something, ...",Discipline is applied fairly in my school.,"Adults at this school (including teachers, adm..."
year,NaN,2017,2017,2017,2017,2017,2017,2017,2017,2017,...,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017
color,NaN,blue,blue,blue,blue,blue,orange,orange,orange,orange,...,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84X703,Bronx Preparatory Charter School,0.93,0.808081,0.51,0.656566,0.237624,0.701031,0.702128,0.478723,-0.105263,...,0.18,0.386139,0.45,-0.38,0.838384,0.88,0.75,0.49,0.35,0.93
84X704,Kipp Academy Charter School,0.930693,1.1,0.4,0.87,0.465347,0.677419,0.940476,0.526882,-0.155556,...,0.34,0.77,0.666667,0.171717,1.24,1.17,0.84,0.454545,0.77,NaN
84X705,Family Life Academy Charter School,1.3,1.15152,0.373737,0.99,0.353535,0.391753,0.677419,0.8,0.318681,...,0.53,0.91,0.58,0.02,1.23762,1.3,1.13,1.07,1.05051,NaN
84X706,Harriet Tubman Charter School,1.59,1.39604,0.69,1.1,0.30303,0.673913,0.637363,0.285714,-0.329897,...,0.98,1.0101,0.881188,0.28,1.47,1.23,0.75,0.712871,0.45,NaN
84X717,Icahn Charter School,1.37,0.99,0.69,0.83,0.13,-0.0833333,0.275862,0.462366,-0.361702,...,0.71,0.851485,0.81,-0.222222,1.14,1.04,1.07071,0.6,0.28,NaN

In [50]:

result = temp_t[yryr[0]]
for i in range(1,len(temp_t)):
    #del temp_t[yryr[i]]['school_name']
    df = temp_t[yryr[i]]['school_name']
    temp_t[yryr[i]].drop('school_name', axis=1, inplace=True)
    result = pd.concat([result, temp_t[yryr[i]]], axis=1, sort=False)
    for j in range(5,len(result)):
        if pd.isnull(result.iloc[j,0]):
            idx = result.index[j]
            result.iloc[j,0] = df.loc[idx]
    #result = pd.merge(result, temp_t[yryr[i]],how = 'outer', on='dbn')
result = result.drop('item',axis=0)
result

,school_name,blue7,blue6,blue5,blue8,orange15,orange17,orange26,orange16,orange14,...,yellow42,yellow43,yellow44,yellow54,yellow46,yellow34,yellow35,yellow36,yellow47,yellow53
survey_question,NaN,3e. My school helps me to develop challenging ...,3g. My teachers expect me to continue my educa...,6f. My teachers inspire me to learn.,13d. Adults at my school yell at students.,"2b. Most of the teachers, counselors, school l...",3c. I need to work hard to get good grades at ...,3d. Students who get good grades in my school ...,3i. These questions are for high school studen...,6a. Teachers in my school treat students with ...,...,3b. My teachers notice if I have trouble learn...,3c. My teachers give me specific suggestions a...,3d. My teachers explain things a different way...,3e. My teachers support me when I am upset.,4a. Iâ€™m learning a lot in my classes at this s...,4b. There is at least one adult in the school ...,4e. My teachers treat me with respect.,4f. When my teachers tell me not to do somethi...,4h. Discipline is applied fairly in my school.,10d. For High School: Adults at this school (i...
match_question,NaN,At my school I keep trying when school work is...,Most of the teaching staff at my school expect...,Most of the teaching staff at my school make m...,At my school I can do well if I put my mind to...,Most adults at my school that I see every day ...,At my school I need to work hard to get good g...,Most students at my school respect students wh...,There is an adult who is helping me plan for m...,Most of the teaching staff at my school expect...,...,My teachers notice if I have trouble learning ...,My teachers give me specific suggestions about...,My teachers explain things a different way if ...,My teachers support me when I am upset.,Iâ€™m learning a lot in my classes at this schoo...,There is at least one adult in the school that...,My teachers treat me with respect.,"When my teachers tell me not to do something, ...",Discipline is applied fairly in my school.,"Adults at this school (including teachers, adm..."
year,NaN,2012,2012,2012,2012,2012,2012,2012,2012,2012,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
color,NaN,blue,blue,blue,blue,orange,orange,orange,orange,orange,...,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow,yellow
01M015,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75X469,P469X - THE BRONX SCHOOL FOR CONTINUOUS LEARNERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
84K876,ACHIEVEMENT FIRST VOYAGER CHARTER SCHOOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84K892,BROOKLYN EMERGING LEADERS ACADEMY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.534653,0.55,0.61,0.2,1.05,1.38,1.09,0.722772,0.535354,1.34
84Q373,NEW VISIONS CHARTER HIGH SCHOOL FOR THE HUMANI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.19,0.292929,0.405941,0.1,0.41,1.08,0.9,0.52,0.0606061,0.525253
84X585,LEGACY COLLEGE PREPARATORY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.86,1.09,1.05,0.646465,1.29,1.35,1.4,1.11111,0.56,NaN

In [51]:
wb = load_workbook('scores12_18.xlsx')
sheet1 = wb.create_sheet('Sheet1',0)
active = wb['Sheet1']
# Write dataframe to active worksheet
for x in dataframe_to_rows(result):
    active.append(x)
    
# Save workbook to write
wb.save('scores12_18.xlsx')